*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 24px ;
}

:root {
  --primary-color: #28a745; /* Définir la couleur verte comme variable */
  --secondary-color: #f0f8ff; /* Définir une couleur secondaire */
  --box-shadow-color: rgba(40, 167, 69, 0.7); /* Ombre verte */
}

.container{
    width: 100%;
    min-height: 100vh;
}

.row{
    width: 100%;
    padding: 0px 0px;
}




.content{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}


input:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 8px var(--box-shadow-color) !important;
  outline: none;
}
