{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <nav class="navbar">
                <h1>Logo</h1>
            </nav>
            <div class="content">
                <h1>Lorem ipsum dolor sit, amet</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="">Marquer ma présence</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block CodeJs %}
    {% endblock CodeJs %}
