{% extends 'base.html' %}
{% load static %}


{% block title %}OntoUniv{% endblock %}



{% block content %}

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Trouvez l'information académique en un clic.</h1>
          <p data-aos="fade-up" data-aos-delay="100">Notre ontologie permet de rechercher des entités universitaires (université, programme, cours, personnes) sans complexité.</p>
          <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'home' %}" class="btn-get-started">Testez la recherche dès maintenant <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'ontologie/assets/img/image.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->





  <!-- Team Section -->
  <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>équipe</h2>
      <p>Notre équipe qui travaille dur</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4 d-flex justify-content-center">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'ontologie/assets/img/avatar.png' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>HEMA Yamiko Abdoul Aziz</h4>
              <span>Architecte Ontologie</span>
              <p>J’ai transformé la complexité du système universitaire en un graphe de connaissances clair et interrogeable. Mon combat quotidien ? Des requêtes SPARQL qui retournent enfin les bons résultats !</p>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'ontologie/assets/img/avatar.png' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>TERRI Bosso Inoussa</h4>
              <span>Design & Frontend</span>
              <p>J'ai transformé des concepts complexes en une interface Bootstrap claire et interactive, pour que l'ontologie devienne accessible à tous.</p>
            </div>
          </div>
        </div><!-- End Team Member -->
      </div>

    </div>

  </section><!-- /Team Section -->



{% endblock %}

{% block CodeJs %}
    {% endblock CodeJs %}